.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/*
Chatgpt api for reviews most popular dishes
Sms OTP
views count
Like
comment
Search restaurant name, item, cuisine
Scroll like tiktok or YouTube
Recording/Upload video
HLS for 360, 480, 720
Test, menu, Order, booking, visit Qr connect
Restaurant dashboard to manage menu and orders
Restaurant captain app and admin app
Uploaded video to push in influencer YouTube and instagram via api
Share, favorites
Restaurant mapping to videos
Signed up restaurant are prominent
Upload restaurant list of all areas
Influencer video list to remove or add videos
Influencer video view logic
  */
